{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block css_files %}{% endblock  %}

</head>

<body>

<header class="container">
    <h1>Fake Document Detection</h1>
</header>

<main>
    <div class="col">
        <a href="{% url "pancard" %}" class="card card-1 stacked--left">
            <div class="content">
                <code class="title">Pancard</code>
            </div>
        </a>
    </div>
    
    <div class="col">
        <a href="{% url "aadhaar" %}" class="card card-2 stacked--right">
            <div class="content">
                <code class="title">Aadhaar Card</code>
            </div>
        </a>
    </div>

    <div class="col">
        <a href="{% url "driving" %}" class="card card-3 stacked--up">
            <div class="content">
                <code class="title">Driving License</code>
            </div>
        </a>
    </div>
    
    <div class="col">
        <a href="{% url "passport" %}" class="card card-4 stacked--down">
            <div class="content">
                <code class="title">Passport</code>
            </div>
        </a>
    </div>
</main>
  
</body>
</html>
